{{>header }}

<div class="container mt-5 news">
    <h1>{{news.title}}</h1>
    <img class="float-start pe-3" src="/assets/img/{{news.image}}" class="img-fluid mb-4" alt="{{news.title}}">
    <p>{{news.content}}</p>
</div>

{{>footer }}