{{>header }}

    <div class="container mt-5">
        <h1>{{news.title}}</h1>
        <img src="/uploads/{{news.image}}" class="img-fluid mb-4" alt="News Image">
        <p>{{news.content}}</p>
        <a href="/" class="btn btn-secondary">Back to Home</a>
    </div>

{{>footer }}